   * {
    font-family: sans-serif;
    color: black;
   }
   body {
    background-color: #f5a442;
   }

   header {
    background-color: #b54800;
   }

   footer {
    background-color: #b54800;
   }

   main {
    background-color: #f5a442;
   }

   .fly-in {
  animation: fly-from-left 1s ease-out;
   }

@keyframes fly-from-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}